<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jonathan Trowbridge (masterwok)</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <link href="images/favicon.ico" rel="icon" type="image/x-icon" />
    <!-- <link href="favicon.ico" rel="icon" type="image/x-icon" /> -->
</head>
<body ng-app="portfolio">
  <div class="container">
    <h2>Jonathan Trowbridge</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at enim at lorem ultrices posuere. Integer ut tristique risus. Morbi sed congue arcu, eu congue urna. Sed lacus turpis, lobortis non leo vitae, laoreet posuere tellus. Cras luctus dictum interdum. Donec posuere maximus nunc, id vulputate eros ornare non. Nullam tempus lobortis aliquam. Proin porttitor ex eu sagittis iaculis.
    </p>
    <h3>Projects</h3>

    <div class="row">
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
          <img class="img-responsive" src="images/GameOfLifeScreensaver.png" alt="Game of Life Screensaver">
          <div class="caption">
            <h4><a href="https://github.com/masterwok/GameOfLife" target="_blank">Game of Life Screensaver (C#)</a></h4>
            <p>
              One of my most recent personal projects, this screensaver runs a wrapped version Conway's Game of Life. Everything
              from the color and size of the cells to the density of the seed generation is configurable.
              The algorithm I used is the optimized algorithm discussed in <a href="http://www.amazon.com/Michael-Abrashs-Graphics-Programming-Special/dp/1576101746">Michael Abrash's Graphics Programming Black Book.</a>
            </p>
            <p><a href="#" class="btn btn-primary" role="button">View on Youtube</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
          <img class="img-responsive" src="images/Scheduler.png" alt="Operating System Scheduler">
          <div class="caption">
            <h4><a href="https://github.com/masterwok/GameOfLife" target="_blank">Job Scheduling Emulation (Java)</a></h4>
            <p>
              This project emulates job scheduling in an operating system. Jobs can be added and removed
              from the system. The bar at the top of the application is a snapshot where jobs
              are located in memory. The dispatcher was implemented using the <a href="http://en.wikipedia.org/wiki/Highest_response_ratio_next">Highest response ratio next (HRRN)</a> scheduling discipline.
              User documentation is available <a href="#">here</a>.
            </p>
            <p><a href="#" class="btn btn-primary" role="button">View on Youtube</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
          <img class="img-responsive" src="images/Creature.png" alt="Creature">
          <div class="caption">
            <h4><a href="https://github.com/masterwok/GameOfLife" target="_blank">Creature (Java)</a></h4>
            <p>
              The creature is part of a two-part project where students in my class created a game.
              The requirements were to create an animated character that would roam around an environment.
              This project uses <a href="http://jogamp.org/jogl/www/">JOGL</a>, the OpenGL binding for Java.
            </p>
            <p><a href="#" class="btn btn-primary" role="button">View on Youtube</a></p>
          </div>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-md-4">
      <div class="thumbnail">
        <img class="img-responsive" src="images/Game.png" alt="Game">
        <div class="caption">
          <h4><a href="https://github.com/masterwok/GameOfLife" target="_blank">Simple Game (Java)</a></h4>
          <p>
            This was the final project for my computer graphics course. It features student generated rooms,
            a mini-map, and multiple instances of the creature from the first part of the project.
            The goal of the game is to shoot down the creatures. Use the mouse to look around and shoot,
            and the keyboard to move. This project uses <a href="http://jogamp.org/jogl/www/">JOGL</a>, the OpenGL binding for Java.
          </p>
          <p><a href="#" class="btn btn-primary" role="button">View on Youtube</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-md-4">
      <div class="thumbnail">
        <img class="img-responsive" src="images/ConnectFour.png" alt="Game">
        <div class="caption">
          <h4><a href="https://github.com/masterwok/GameOfLife" target="_blank">Connect Four (Java)</a></h4>
          <p>
            This is a console based wrap around version of Connect Four. The user plays
            against an AI opponent that is implemented using a game-tree along with <a href="http://en.wikipedia.org/wiki/Alpha%E2%80%93beta_pruning">α–β pruning</a>.
            The difficultly of the opponent depends upon the depth of the game tree the user specifies
            at the beginning of the game.
          </p>
          <p><a href="#" class="btn btn-primary" role="button">View on Youtube</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-md-4">
      <div class="thumbnail">
        <img class="img-responsive" src="images/Prax.png" alt="Game">
        <div class="caption">
          <h4><a href="https://github.com/masterwok/GameOfLife" target="_blank">Shortest Path (Java)</a></h4>
          <p>
            This project is my implementation of the <a href="http://en.wikipedia.org/wiki/A*_search_algorithm">A* search algorithm</a>.
            This algorithm is used to find the shortest path possible while avoiding obsticles on a 2D grid. The X's represent high
            terrain while the O's represent the path found.
          </p>
          <p><a href="#" class="btn btn-primary" role="button">View on Youtube</a></p>
        </div>
      </div>
    </div>
  </div>

  <form
    id="contactForm"
    name="contactForm"
    ng-controller="ContactController as contact"
    ng-submit="contactForm.$valid && submit()"
    class="form-horizontal"
    novalidate>

    <h2>Hit me up!</h2>

    <div ng-show="showSuccess" class="form-group no-bottom-margin">
      <div class="col-sm-10 col-md-7 col-lg-6">
        <div class="alert alert-success" role="alert">
          Your message was successfully delivered.
        </div>
      </div>
    </div>

    <div ng-show="showError" class="form-group no-bottom-margin">
      <div class="col-sm-10 col-md-7 col-lg-6">
        <div class="alert alert-danger" role="alert">
          An error occured while processing your message. Please try again later.
        </div>
      </div>
    </div>

    <div class="form-group" show-errors="{ showSuccess: true }">
      <div class="col-sm-5 col-md-4 col-lg-4">
        <input ng-model="formData.email" type="email" class="form-control" id="email" name="email" placeholder="Your Email..." required>
      </div>
    </div>

    <div class="form-group" show-errors="{ showSuccess: true }">
      <div class="col-sm-5 col-md-4  col-lg-4">
        <input ng-model="formData.contactName" type="text" class="form-control" id="contactName" name="contactName" placeholder="Your Name..." required>
      </div>
    </div>

    <div class="form-group" show-errors="{ showSuccess: true }">
      <div class="col-sm-8 col-md-7  col-lg-6">
        <textarea ng-model="formData.message" class="form-control" rows="4" id="message" name="message" placeholder="Message..." required></textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-5 col-md-5  col-lg-5">
        <button ng-disabled="!contactForm.$valid" type="submit" class="btn btn-primary">Submit</button>
        <button ng-click="reset()" type="button" class="btn btn-default">Reset</button>
      </div>
    </div>
  </form>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="scripts/showErrors.min.js"></script>
  <script src="scripts/contact.js"></script>
</body>
</html>
